<!-- <a ui-sref="newAbastecimento" class="btn-primary btn-lg nodecoration">Novo Abastecimento</a>
<table class="table abastecimentotable">    
    <tr ng-repeat="assunto in assuntos">
        <td><a class="btn btn-primary" ui-sref="votarAssunto(assunto)">{{assunto.assunto}}</a></td>
        <!-- <td>Assunto {{assunto.assunto}} </td> -->
<!-- <td>
            <a class="btn btn-primary" ui-sref="viewAbastecimento({id:abastecimento.id})">Abrir</a>
            <a class="btn btn-danger"  ng-click="deleteAbastecimento(abastecimento)">Excluir</a>
        </td> -->
<!--</tr>
</table> -->

<div class="row">
    <div class="col-sm-1" ng-repeat="assunto in assuntos">
        <a class="btn btn-primary" ui-sref="votarAssunto(assunto)" style="border-radius: 50px; min-width: 75px; color:white; text-transform:lowercase">
            {{assunto.assunto}}
            <span class="badge" style="
                background-color: #f8f9fa;
                color: dodgerblue; padding:5%">                
                {{assunto.votos.length}}
            </span>
        </a>
    </div>
</div>