<ul ng-repeat="notificacao in notificacoes">
    <li>
        <a class="dropdown-item" href="#">
            <div class="row">
                <div class="col-sm-6">
                    <span class="text-info">
                        <strong>{{notificacao.usuarioRemetenteNome}}</strong>
                    </span>
                </div>
                <div class="col-sm-6">
                    <span class="small float-right text-muted">11:21 AM</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <span class="text-info">
                        {{notificacao.assuntoDescricao}}
                    </span>
                    {{notificacao.texto}}
                </div>
            </div>
            <div class="dropdown-divider"></div>
        </a>
    </li>
</ul>
<a class="dropdown-item small" href="#">Ver todas as notificações</a>