<div>
	<p>Looping with ng-repeat:</p>
	<ul>
		<li ng-repeat="assunto in assuntos">
			{{ assunto }}
		</li>
	</ul>
</div>

<!--<table class="table assuntoTable">
	<tr ng-repeat="assunto in assuntos">
		<td>
			Assunto: {{assunto.assunto}}
			<div class="top-demo group">
				<div>
					<p id="texto-bolha">assunto.assunto</p>
				</div>
			</div>
		</td>
	</tr>
</table>-->

<!-- <div class="top-demo group">
		<div>
			<p id="texto-bolha">teste</p>
		</div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div> -->
<!--
	<div id="sphere-area">
		<img src="bolhas/images/ball-orange.png" alt="ball" id="orange-ball" />
		<img src="bolhas/images/ball-blue.png" id="blue-ball" alt="" />
		<img src="bolhas/images/ball-green.png" id="green-ball" alt="" />
	</div>-->