.top-buffer{
    margin-top:10px;
}

.abastecimentotable tr td:nth-child(2){
    width: 150px;
}

.abastecimentotable tr:nth-child(1) td{
    border-top: none;
}

.notificaotable tr td:nth-child(2){
    width: 100px;
}

.notificacaotable tr:nth-child(1) td{
    border-top: none;
}

a.nodecoration{
    text-decoration:none;
}

ul {
    list-style-type: none;
    padding-left: 5px;
}

.dropdown-menuNotificacoes {
    width: 350px;
}

.message-notificacao {
    white-space: pre-wrap;
}