<nav class="navbar navbar-inverse" role="navigation" 
	 xmlns:th="http://www.thymeleaf.org"
	 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	 
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" th:href="@{/}">
            Home
        </a>
    </div>
    <div class="collapse navbar-collapse navbar-collapse-1">
        <ul class="nav navbar-nav navbar-utility">
            <li id="ui-toggle" class="hidden">
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-primary">
            <li><a th:href="@{/publico/usuario/}" th:text="#{menu.user}"></a></li>
            <li><a th:href="@{/admin/usuarioAdm/}" th:text="#{menu.adm}"  sec:authorize="hasRole('ROLE_ADMIN')"></a></li>
            <li><a th:href="@{/restrito/conta/}"   th:text="#{menu.conta}" sec:authorize="hasRole('ROLE_USER')"></a></li>
        </ul>
	    <div class="pull-right">
		    <div>
	            <span sec:authorize="isAuthenticated()">
	                <a th:href="@{/logout}" th:text="#{label.sair}">...</a>
	            </span>
	            
				<a onclick="changeLocale('pt_BR')" th:title="#{lang.br}">
			    	<img id="image-1" alt="" th:src="@{/images/bandeira-pt_BR.png}" style="cursor:pointer;" />
		        </a>
				<a onclick="changeLocale('en_US')" th:title="#{lang.eng}">
					<img id="image-1" alt="" th:src="@{/images/bandeira-en_US.png}" style="cursor:pointer;" />
		        </a>
	    	</div>
	    </div>
	  <form th:action="@{/publico/altera-idioma}" id="frmLocale" method="post">
	  	<input type="hidden" name="lang" id="lang" value="pt_BR" />
	  	<input type="hidden" name="url" id="url" />
	  	<input type="hidden" name="context-path" id="context-path" th:value="@{/}"  />
	  </form> 
	    
    </div>
</nav>