<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layouts/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
      
	<th:block layout:fragment="header-content">
		<link th:href="@{/css/login.css}" rel="stylesheet" />
	</th:block>
	
	<th:block layout:fragment="content">
		<div class="container">
			<img th:src="@{/images/login.jpg}" class="img-responsive center-block" width="300" height="300" alt="Logo" />
			<form th:action="@{/publico/login}" method="POST" class="form-signin">
				<h3 class="form-signin-heading" th:text="#{msg.welcome}"></h3>
				<br/>
				 
				<input type="text" id="email" name="email"  th:placeholder="#{label.email}" class="form-control" /> <br/> 
				<input type="password" id="password" name="password" th:placeholder="#{label.senha}" class="form-control" /> <br /> 
					
				<div align="center" th:if="${param.error}">
					<p style="font-size: 20; color: #FF1C19;" th:text="#{msg.login.error}">...</p>
				</div>
				<button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="#{label.login}"></button>
			</form>
		</div>
	</th:block>
</html>