<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layouts/layout"
      th:with="title=#{title.usuario}">
	
	<th:block layout:fragment="content">
		<div class="row">
			<div class="col-md-4" th:text="#{label.nome}"></div>
			<div class="col-md-8" th:text="${usuario.nome}"></div>
		</div>

		<div class="row">
			<div class="col-md-4" th:text="#{label.nascimento}"></div>
<!-- 			<div class="col-md-8" th:if="${usuario.nascimento != null}" th:text="${#dates.format(usuario.nascimento,'dd/MM/yyyy')}"></div> -->
			<div class="col-md-8" th:if="${usuario.nascimento != null}" th:text="${#dates.format(usuario.nascimento)}"></div>
		</div>

		<div class="row">
			<div class="col-md-4" th:text="#{label.celular}"></div>
			<div class="col-md-8" th:text="${usuario.celular}"></div>
		</div>

		<div class="row">
			<div class="col-md-4" th:text="#{label.idioma}"></div>
			<div class="col-md-8" th:text="${usuario.idioma}"></div>
		</div>

		<div class="row">
			<div class="col-md-4" th:text="#{label.email}"></div>
			<div class="col-md-8" th:text="${usuario.email}"></div>
		</div>
		<hr />
	  	<a class="btn btn-primary" th:href="@{/usuario/}" th:text="#{botao.novo.usuario}"></a>
	</th:block>
</html>